@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background:url(./assets/background.svg);
    background-size: auto;
    background-repeat: no-repeat;
}
:root{
    font-size: 62.5%;
}
.navbar{
    
    height: 0.8rem;
    background: linear-gradient(93.1deg, #10133E 3.52%, #22266F 98.56%, #22266F 98.56%, #22266F 98.56%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.0rem 10%;
}
.logo{
    width: 18.5rem;
    height: 6.3rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 9.5rem;
    list-style: none;
}
h1, p, a,button, form,.text {
    font-family:  'Inter', sans-serif;
    font-size: 1.6rem;
    color: #FFFFFF;
} 
h1{
    font-size: 4.8rem;
}

ul li a:hover{
    font-weight: bold;
}
.navbar button{
    width: 12.0rem;
    height: 3.2rem;
}
button{
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    background: #FF6497;
    border-radius: 6.0rem;
    }
button:hover{
    background: #d05e84;

}

a{
    color: white;
    text-decoration: none;
}

main{
    
    display: flex;
    align-items: center;
    padding: 6.4rem 10%;
    gap: 8.6rem;
}
.details{
    
    position:fixed;
    height: 67.5rem;
    z-index: -1;
    width: 144.5rem;
    left: 8.3rem;
    top: 16.9rem;



}

#text{
    display: flex;
    flex-direction: column;
    gap: 5.0rem;
}

main button{
    width: 25.0rem;
    height: 4.8rem;

}
/*                           Main Sobre                              */


.main-sobre{
    display: flex;
    flex-direction:column;
    gap: 2.4rem;
    align-items: flex-start;

    width: 120rem;
    margin: 2.6rem auto;  
    
    font-family: 'Inter';
    color: #FFFFFF;

}
.main-sobre h1{
    font-weight: bold;
    font-size: 48px;
    display: flex;
    
}
.main-sobre h3{
    font-weight: 600;
    font-size: 22px;
}
.main-sobre p{
    font-size: 20px;
    line-height: 24px;
}




/*                           ESTILOS DA PÁGINA DE CONTATO                                 */



header, form {
    color: #FFFFFF;
    width: 73.6rem;
    margin: 3.6rem auto;    
}

form{
    color: black;
    border-radius:0.8rem;
    background: #FAFAFC;
    padding: 6.4rem;
    
}
fieldset{

    border: none;
}
.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

fieldset legend{,
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.4rem;

    width: 100%;

    border-bottom: 0.1rem solid #E6E6F0 ;
    padding-bottom: 1.6rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}
.input-wrapper label{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #2e2d31;
    margin: 0.8rem 0;
}
.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select
{
    background: #FAFAFC;

    border-radius: 0.8rem;
    border: 0.1rem solid black;

    padding: 0 2.4rem;
    height: 5.6rem;

    
    color: #3b3a3e;
    
}
.input-wrapper textarea{
    padding: 1.6rem 2.4rem;
    height: 16.8rem;

}
.input-wrapper select{
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 1.0rem center;
}

